body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6f2ff;
}

h1, h2 {
    color: #003366;
    margin-bottom: 40px;
}

.container {
    text-align: center;
    padding: 50px;
}

.form-container {
    background-color: #f0f9ff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.input-group {
    margin: 15px 0;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #007bff;
    border-radius: 5px;
}

.submit-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    width: 100%;
}

.submit-button:hover {
    background-color: #0056b3;
}

.image_link_container {
    margin-top: 20px;
    text-align: center;
}

.image_link_container h3, .image_link_container h4 {
    color: #003366;
}
