<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patients Data</title>
    <link rel="stylesheet" href="http://127.0.0.1:8001/static/admin_view_all_patients.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div id="header"></div>
<h1>Welcome Admin</h1>

<h3 id="time-show">The current Time from Server is : </h3>


<h2>The details of each patient is :</h2>

<div id="patients-container">
    <!-- Patient data will be inserted here -->
</div>

<script src="http://127.0.0.1:8001/static/header_loading_helper.js"></script>
<script src="http://127.0.0.1:8001/static/admin_view_all_patients.js"></script>
</body>
</html>
